<div id="home-background">

	<section class="wrap">
		<div class="elmar">
			<div class="cielo">
			</div>
			<div class="barco">
				<div class="puente">
					<div class="chimeneal">
						<div class="linea"></div>
					</div>
					<div class="chimenear">
						<div class="linea"></div>
					</div>
					<div class="franja"></div>
					<div class="camarote1">
						<div class="antiskew">
							<div class="ventana"></div>
							<div class="ventana"></div>
							<div class="ventana"></div>
							<div class="ventana"></div>
							<div class="ventana"></div>
							<div class="puertita"></div>
						</div>
					</div>
					<div class="radar">
						<div class="cabeza"></div>
						<div class="soporte"></div>
					</div>
					<div class="fantena"></div>
					<div class="santenea"></div>
					<div class="control">
						<div class="tapa">
							<div class="top-ventana"></div>
							<div class="top-ventana"></div>
							<div class="top-ventana"></div>
						</div>
						<div class="mid-ventana"></div>
						<div class="mid-ventana"></div>
						<div class="mid-ventana"></div>
						<div class="mid-ventana"></div>
						<div class="mid-ventana"></div>
						<div class="mid-ventana"></div>
						<div class="mid-ventana"></div>
						<div class="mid-ventana"></div>
						<div class="mid-ventana"></div>
						<div class="mid-ventana"></div>
						<div class="mid-ventana"></div>
						<div class="mid-ventana"></div>
						<div class="puertita"></div>
					</div>
					<div class="bajo-camarotes">
						<div class="ventanitas"></div>
						<div class="ventanitas"></div>
						<div class="ventanitas"></div>
						<div class="ventanitas"></div>
						<div class="ventanitas"></div>
						<div class="ventanitas"></div>
					</div>
				</div>
				<div class="base">
					<div class="atras"></div>
					<div class="popa"></div>
					<div class="tronco">
						<div class="marca">
							<div class="per"></div>
						</div>
					</div>
					<div class="proa"></div>
					<div class="anclacont"></div>
				</div>
				<div class="contenedores">
					<div class="contenedor">
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
					</div>
					<div class="contenedor">
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
					</div>
					<div class="contenedor">
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
					</div>
					<div class="contenedor">
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
					</div>
					<div class="contenedor">
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
					</div>
					<div class="contenedor">
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
					</div>
					<div class="contenedor">
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
					</div>
					<div class="contenedor">
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
					</div>
					<div class="contenedor">
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
					</div>
					<div class="contenedor">
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
					</div>
					<div class="contenedor">
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
					</div>
					<div class="contenedor">
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
						<div class="cal"></div>
					</div>
				</div>
			</div>
			<div class="agua">
				<svg version="1.1" class="olacont" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 13685.8 298.5" style="enable-background:new 0 0 13685.8 298.5;" xml:space="preserve">
					<path class="olita" d="M13641.6,241.3c-325.4-8.8-403.9-213.3-535-213.3c-85.9,0-159.3,27.7-292.7,127.3c-93.3,69.7-372.3,86-372.3,86
					h-44.1c-325.4-8.8-403.9-213.3-535-213.3c-85.9,0-159.3,27.7-292.7,127.3c-93.3,69.7-372.3,86-372.3,86h-44.1
					c-325.4-8.8-403.9-213.3-535-213.3c-85.9,0-159.3,27.7-292.7,127.3c-93.3,69.7-372.3,86-372.3,86h-44.1
					c-325.4-8.8-661.3-147-827.7-86c-109.4,40.1-372.3,86-372.3,86H8665C8339.6,232.6,8261.1,28,8130,28c-85.9,0-159.3,27.7-292.7,127.3
					c-93.3,69.7-372.3,86-372.3,86h-44.2c-301.4-8.1-708.8-174.7-827.7-86c-78.8,58.8-289.7,79.6-353.6,84.7c-0.6,0-1.2,0.1-1.7,0.1
					c-1.1,0.1-2.2,0.2-3.2,0.2c-1.5,0.1-3,0.2-4.3,0.3c-0.9,0.1-1.7,0.1-2.4,0.2c-4.5,0.3-7,0.5-7,0.5h-44.1
					C5851.3,232.6,5772.8,8,5641.7,8c-85.9,0-159.3,47.7-292.7,147.3c-93.3,69.7-372.3,86-372.3,86h-44.1
					c-325.4-8.8-694.3-185.6-827.7-86c-93.3,69.7-372.3,86-372.3,86h-44.1C3363,232.6,3284.4,28,3153.4,28
					c-85.9,0-159.3,27.7-292.7,127.3c-93.3,69.7-372.3,86-372.3,86h-44.1c-325.4-8.8-403.9-179.3-535-179.3
					c-85.9,0-159.3-6.3-292.7,93.3c-93.3,69.7-372.3,86-372.3,86H1200C874.7,232.6,796.1,28,665,28c-85.9,0-159.3,27.7-292.7,127.3
					C278.9,225,0,241.3,0,241.3v57.2h0h1244.2h0h1244.2h0h1244.2h0h1244.2h0h1244.2h0H7465h0h1244.2l0,0h1244.2l0,0h1244.2l0,0h1244.2
					l0,0h1244.2v-57.2H13641.6z"/>
				</svg>

			</div>

		</div>
	</section>
</div>
